@import './share';

// 头部
#header {
    width: 100%;

    .header-main {
        width: 100%;
    }

    .header-top {
        img {
            width: 100%;
            display: block;
        }
    }

    .header-middle {
        background-color: #444;

        .main {
            @extend %share_style;
            height: 36px;
        }

        a {
            color: #ccc;
            text-decoration: none;
            font-size: $main_font_size - 3;
        }

        a:hover {
            color: #fff;
        }
    }

}

#header .left {
    float: left;
    // line-height: 36px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    a {
        width: 30px;
    }

    .laba {
        height: 100;
        vertical-align: middle;
        margin-left: 30px;
        font-size: $main_font_size - 2;
        color: #ccc;
    }

    .huanying {
        visibility: hidden;
        margin: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        font-size: $main_font_size - 4;
        color: #ccc;

        a {
            text-decoration: underline;
            color: rgba(221, 221, 221, 0.76);
            margin-left: 10px;
        }
    }
}

#header .right {
    line-height: 36px;
    float: right;

    li {
        float: left;
        padding: 0 12px;

        span {
            font-size: $main_font_size;
        }
    }

    .same-color {
        a:hover {
            color: $main_color;
        }
    }
}

#header .header-bottom-search {
    line-height: 36px;
    position: absolute;
    right: 0;
    top: 13px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .icon-sousuo {
        font-size: 24px;
    }

    .search-input {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        margin-left: 30px;
        display: none;

        input {
            box-sizing: border-box;
            margin: 0;
            color: #646464;
            padding: 7px 10px;
            line-height: 18px;
            font-size: 14px;
            border-radius: 0;
            display: inline-block;
            vertical-align: middle;
            height: 40px;
            padding-left: 10px;
            outline: none;
            border: none;
            border-bottom: 1px solid #ccc;
        }

        span {
            line-height: 18px;
            text-align: left;
            box-sizing: border-box;
            color: #ccc;
            vertical-align: middle;
            font-size: 16px;
            margin: 0px 20px 0 25px;
            cursor: pointer;
        }
    }
}

#header,
#top-hover .header-bottom {
    background-color: #fff;
    position: relative;

    .header-bottom-main {
        width: 1188px;
        margin: 0 auto;
        height: 72px;
        line-height: 72px;
        overflow: hidden;
    }
}

#header .header-bottom-main,
#top-hover .header-bottom-main {
    position: relative;

    .header-bottom-left {
        float: left;
        width: 152px;
        height: 43px;
        margin-top: 18px;
        div{
            height: 100%;
            background: url(../images/logo.png) no-repeat;
            background-size: 152px 43px;
        }
    }

    .header-nav {
        float: right;
        width: 1026px;

        .nav-main {
            li {
                float: left;
                height: 72px;
                line-height: 76px;
                padding: 0 18px;

                a {
                    display: inline-block;
                    font-size: 16px;
                    color: #333;
                    text-decoration: none;
                    line-height: 72px;
                }
            }

            li:hover a {
                color: $main_color;
            }

            li:hover .second-menu {
                display: block;
                z-index: 99;
            }

        }
    }
}

#header .second-menu,
#top-hover .second-menu {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -4px;
    display: none;
    background-color: #f7f7f7;

    .menu-nav {
        @extend %share_style;
        height: 288px;

        .nav-list {
            width: 800px;
            float: left;
            font-size: 12px;

            li {
                box-sizing: border-box;
                float: left;
                width: 188px;
                height: 44px;
                margin-bottom: 24px;

                span {
                    vertical-align: middle;
                    padding-left: 12px;
                    line-height: 44px;
                    color: rgb(100, 100, 100);
                }

                .icon-arrow {
                    font-size: $main_font_size;
                    padding: 0;
                }

                img {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            li:hover span:nth-of-type(1) {
                color: $main_color;
            }
        }

        // 二级菜单右边图片
        .nav-goods {
            float: right;
            width: 364px;
            height: 268px;

            li {
                height: 130px;
                box-sizing: border-box;
                float: left;
                width: 180px;
                margin-top: 4px;
                text-align: center;
                padding: 20px 8px;
                padding-top: 8px;
                background: #fff;

                .goods-img {
                    width: 164px;
                    height: 80px;

                    img {
                        width: 80px;
                    }
                }

                .goods-info {
                    width: 164px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: #646464;
                    font-size: 14px;
                    line-height: 20px;
                }

                .goods-price {
                    font-size: 16px;
                    line-height: 16px;
                    color: #ff143e;
                    font-weight: 700;
                }
            }

            li:hover .goods-info {
                color: $main_color;
            }

            li:nth-of-type(1),
            li:nth-of-type(3) {
                margin-right: 4px;
            }
        }

        a {
            text-decoration: none;
        }
    }
}

.index-cart-num {
    font-size: 12px;
}

.search-content {
    display: none;
    position: absolute;
    right: 18px;
    top: 191px;
    z-index: 10000 !important;
    width: 933px;

    ul {
        color: #1e1e1e;
        line-height: 18px;
        font-size: 14px;
        box-sizing: border-box;
        border: 1px solid #eee !important;
        padding: 16px 24px !important;
        background-color: #fff !important;
        width: 933px;

        li {
            color: #1e1e1e;
            line-height: 18px;
            font-size: 14px;
            box-sizing: border-box;

            a {
                font-size: 14px;
                box-sizing: border-box;
                text-decoration: none;
                display: block;
                padding: 0 24px;
                margin-bottom: 8px;
                color: #999 !important;
                line-height: 28px;
                height: 28px;
                width: 100%;
                overflow: hidden;
            }
            a:hover{
                color: #00aaa6!important;
                background-color: #f7f7f7!important;
            }
        }
    }
}