@import './share';

// item宽度100%
.item {
    width: 100%;

    .item-top {
        font-size: 22px;
        color: #1e1e1e;
        height: 58px;
        line-height: 85px;
    }

    .item-main {
        // overflow: hidden;
        margin-top: 20px;
    }

    .item-main::after {
        @extend %clearfix;
    }
}

// item 内容区居中
.item .content {
    @extend %share_style;
}

// 海信官网
.item-com {
    .com-main {
        overflow: hidden;
        height: 296px;

        .com-left {
            .com-left-main {
                width: 588px;
                height: 100%;
                position: relative;
            }
        }

        .com-middle {
            .com-middle-main {
                width: 294px;
                height: 100%;
                position: relative;
                margin-left: 6px;
            }
        }

        .com-right {
            .com-right-main {
                width: 294px;
                height: 100%;
                margin-left: 6px;

                .com-right-top {
                    position: relative;
                    height: 145px;
                    margin-bottom: 6px;
                }

                .com-right-bottom {
                    position: relative;
                    height: 151px;
                }
            }
        }
    }
}

.item-com {
    .com-pics {
        height: 296px;
        position: relative;
        float: left;

        .pic-box {
            height: 296px;
            position: absolute;
            left: 0;
            top: 0;
            transition: all 1s;

            img {
                display: block;
                width: 100%;
            }
        }

        .com-hover-pic {
            opacity: 0;
            // z-index: -1;
        }
    }

    .animation-com:hover {
        .com-active-pic {
            opacity: 0;
            // z-index: -1;
        }

        .com-hover-pic {
            opacity: 1;
            // z-index: 1;
        }
    }
}

// 爆款专区
.item-hot {
    height: 964px;

    .hot-top {
        height: 588px;

        .hot-top-left {
            width: 588px;
            float: left;
            overflow: hidden;

            img {
                width: 100%;
                transition: all 1s;
                display: block;
            }
        }

        .hot-top-left:hover img {
            transform: scale(1.1);
        }

        .hot-top-right {
            width: 594px;
            height: 100%;
            float: left;
            margin-left: 6px;
        }
    }

    .hot-bottom {
        margin-top: 6px;

        li {
            float: left;

            img {
                width: 588px;
                display: block;
            }
        }

        li:nth-of-type(1) {
            margin-right: 6px;
        }
    }
}

// 悬浮缩放
.item .animation-scale {
    overflow: hidden;
}

.item .animation-scale img {
    transition: all 1s;
}

.item .animation-scale:hover img {
    transform: scale(1.1);
}

.item-hot ul {
    height: 100%;

    li {
        float: left;
        margin-bottom: 6px;

        img {
            width: 294px;
            height: 291px;
            display: block;
        }
    }

    .margin-6 {
        margin-right: 6px;
    }
}

// 超级电视
.item-tv {
    .tv-top {
        .tv-top-left {
            float: left;
            overflow: hidden;

            img {
                display: block;
                width: 594px;
                transition: all 1s;
            }
        }

        .tv-top-left:hover img {
            transform: scale(1.1);
        }

        .tv-top-right {
            float: left;
            width: 594px;

            div {
                float: left;

                img {
                    width: 594px;
                    display: block;
                }
            }
        }
    }

    .tv-top::after {
        @extend %clearfix;
    }
}

.item .item-bottom {
    margin-top: 20px;
    height: 374px;

    ul {
        height: 100%;

        li {
            box-sizing: border-box;
            height: 362px;
            float: left;
            padding: 8px;
            margin-left: 12px;
            text-align: center;
            margin-bottom: 12px;
            background-color: #fff;
            width: 288px;

            a {
                text-decoration: none;
            }

            img {
                display: block;
                width: 272px;
            }

            .tvs-info {

                .tv-title {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    height: 20px;
                    color: #1e1e1e;
                    text-align: center;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .tv-desc {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 12px;
                    color: #777;
                    height: 24px;
                    text-align: center;
                    line-height: 24px;
                }

                .tv-price {
                    font-size: 16px;
                    color: #cc0010;
                    line-height: 20px;
                }
            }

        }

        li:nth-of-type(1) {
            margin-left: 0;
        }

        li:nth-of-type(4) {
            margin-right: 0;
        }
    }
}

// 冰箱专区
.item {
    .item-main {
        .same-top {
            height: 588px;

            .same-top-left {
                float: left;

                img {
                    width: 297px;
                    display: block;
                }
            }
        }
    }
}

.item .same-top-right {
    float: left;

    .same-top-right-1 {
        float: left;
        width: 594px;

        a {
            img {
                width: 594px;
                display: block;
            }

        }
    }

    .same-top-right-2 {
        float: left;
        width: 297px;

        a {
            img {
                width: 297px;
                height: 297px;
                display: block;
            }

        }

        div:nth-of-type(2) {
            img {
                width: 297px;
                height: 291px;
                display: block;
            }
        }
    }
}

// 商品阴影
.item .item-bottom li:hover {
    transition: all .2s linear;
}

.item .item-bottom li:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

// 空调专区
// .item-air-conditioner {}

// 洗衣机专区
// .item-wahsing {}

// 科龙专区
// .item-wahsing {}

// 选购攻略
.same-item-1 {
    li {
        box-sizing: border-box;
        height: 324px;
        width: 388px;
        background: #fff;
        float: left;
        text-align: center;
        margin-bottom: 12px;
        transition: all .2s linear;
        overflow: hidden;
        position: relative;
        margin-right: 12px;

        .buy-pic {
            overflow: hidden;
            vertical-align: baseline;
        }

        a {
            text-decoration: none;
        }

        img {
            width: 388px;
            display: block;
            transition: all 600ms;
        }

        .buy-desc {
            background: #fff;
            box-sizing: border-box;
            padding: 24px 16px;
            text-align: left;
            position: absolute;
            width: 100%;
            min-height: 108px;
            bottom: 0;
        }

        .buy-text-1 {
            text-align: left;
            font-size: 16px;
            color: #262626;
            margin-bottom: 4px;
            font-weight: 700;
            line-height: 22px;
            height: 22px;
        }

        .buy-text-2 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            opacity: 0;
            height: 0;
            line-height: 20px;
            margin-top: 12px;
            text-align: left;
            font-size: 14px;
            color: #777;
            transition: all 600ms;
        }
    }

    li:hover .buy-text-2 {
        height: 80px;
        opacity: 1;
    }

    li:hover img {
        transform: scale(1.05);
        filter: grayscale(25%);
    }

    li:nth-of-type(3) {
        margin-right: 0px;
    }
}

// 官方资讯
// .item-news {
// }

// videos
.item-videos {
    .videos-bottom {
        li {
            width: 388px;
            background: #fff;
            float: left;
            margin-left:12px;
            .video-pic{
                position: relative;
                .play-1{
                    position: absolute;
                    left:20px;
                    bottom:20px;
                    img{
                        width:36px;
                        height:36px;
                        display: block;
                    }
                }
            }
            a{
                text-decoration: none;
            }
            video {
                color: #1e1e1e;
                line-height: 18px;
                font-size: 14px;
                text-align: left;
                cursor: pointer;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                display: block;
            }

            .video-text {
                padding-top: 20px;
                color: #1e1e1e;
                text-align: center;
                box-sizing: border-box;
                width: 100%;
                height: 96px;
                .video-title {
                    box-sizing: border-box;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                    color: #1E1E1E;
                }

                .video-desc {
                    box-sizing: border-box;
                    font-size: 14px;
                    line-height: 24px;
                    color: #999;
                }
            }
        }
        li:nth-of-type(1){
            margin-left:0;
        }
    }
}

// 服务
.item-serve {
    .serve-bottom{
        height:120px;
        margin-bottom:60px;
        li{
            float: left;
            margin-left:12px;
            position: relative;
            width:288px;
            height:120px;
            transition: 1s;
            div{
                position: absolute;
                left:0;
                top:0;
                transition: all 1s;
            }
            div:nth-of-type(2){
                opacity: 0;
            }
        }
        img{
            width: 288px;
            display: block;
        }
        li:hover{
            box-shadow: 0 15px 30px rgba(0,0,0,.1);
        }
        li:hover div:nth-of-type(1){
            opacity: 0;
        }
        li:hover div:nth-of-type(2){
            opacity: 1;
        }
        li:nth-of-type(1){
            margin:0;
        }
    }
}